<!DOCTYPE html>
<html lang="si">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="simple.min.css">
    <link href="about:blank" rel="shortcut icon">
    <title>{{ distroInfo['name'] }} {{ versionInfo['number'] }} තුළ සිංහල යතුරු ලිවීම</title>
</head>

<body>
    <header>
        <h1>සිංහල යතුරු ලිවීම</h1>
        <p>නිදහස්/විවෘත මෙහෙයුම් පද්ධති තුළ සිංහල යතුරු ලිවීම</p>
    </header>
    <main>
        <h2>
            {{ distroInfo['name'] }} {{ versionInfo['number'] }}
            {% set versionName = versionInfo['name'] %}{% if versionName %}({{ versionName }}){% endif %}
        </h2>
        <p>
            {% for desktopInfo in versionInfo['desktops'] %}
                <p>
                    <article>
                        {% set desktopName = desktopInfo['name'] %}
                        {% set desktopPackages = desktopInfo['packages'] %}
                        {% set desktopNotes = desktopInfo['notes'] %}
                        <h3>{{ desktopName }}</h3>
                        <section>
                            <h5>ස්ථාපනය කළ යුතු පැකේජ</h5>
                            {% if desktopPackages | length > 0 %}
                                <ul>
                                    {% for package in desktopPackages %}
                                        <li>{{ package }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>පැකේජ කිසිවක් ස්ථාපනය කළ යුතු නැත</p>
                            {% endif %}
                        </section>
                        {% if desktopNotes | length > 0 %}
                            <h5>අමතර සටහන්</h5>
                            <p>{{ desktopNotes }}</p>
                        {% endif %}
                    </article>
                </p>
            {% endfor %}
        </p>
    </main>
</body>

</html>