<!DOCTYPE html>
<html lang="si">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="simple.min.css">
    <link href="about:blank" rel="shortcut icon">
    <title>සිංහල යතුරු ලිවීම</title>
</head>

<body>
    <header>
        <h1>සිංහල යතුරු ලිවීම</h1>
        <p>නිදහස්/විවෘත මෙහෙයුම් පද්ධති තුළ සිංහල යතුරු ලිවීම</p>
    </header>
    <main>
        <h2>මෙහෙයුම් පද්ධති</h2>
        {% for distroCode, distroInfo in distros.items() %}
            {% set distroName = distroInfo['name'] %}
            <h3>{{ distroName }}</h3>
            <p>
            <ul>
                {% for versionCode, versionInfo in distroInfo['versions'].items() %}
                {% set versionNumber = versionInfo['number'] %}
                {% set versionName = versionInfo['name'] %}
                    <a href="{{ distroCode }}_{{ versionCode }}.html">
                        <li>{{ versionNumber }}{% if versionName %}{% if versionNumber %} - {% endif %}{{ versionName }}{% endif %}</li>
                    </a>
                {% endfor %}
            </ul>
            </p>
        {% endfor %}
    </main>
</body>

</html>